    h1 {
        text-align: center;
        font-size: 45px;
        text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191;
        color: black;
    }
    
    body {
        background: linear-gradient(to bottom, #f1e0d3, #f3efec);
    }
    
    div {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 5em;
        margin-right: 5em;
    }
    
    .description {
        margin-block-end: 5em;
    }
    
    .description img {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    
    .HTML-info {
        text-align: justify;
        margin-inline-start: 2%;
        margin-inline-end: 2%;
    }
    
    .information {
        margin-block-start: 5em;
    }
    
    .container-grid {
        text-align: center;
        z-index: 4;
        display: flex;
    }
    
    .cheat-HTML {
        padding: 20px;
        color: #fff;
        z-index: 4;
        box-shadow: 10px 10px 5px grey;
        background-color: #ff6464;
    }
    
    .cheat-CSS {
        padding: 20px;
        color: #fff;
        z-index: 4;
        box-shadow: 10px 10px 5px grey;
        background-color: #DB3056;
    }
    
    .cheat-JS {
        padding: 20px;
        color: #fff;
        z-index: 4;
        box-shadow: 10px 10px 5px grey;
        background-color: #851d41;
    }
    
    a {
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    
    .notice {
        color: #5A3B5D;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
    }
    
    .notice strong {
        font-weight: 700;
    }
    
    .scroll {
        border: 1px solid;
        height: 100px;
        width: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }