/* Notice */

body {
    background: linear-gradient(to bottom, #f1e0d3, #f3efec);
    /*background: linear-gradient(to bottom, #F8ECE0, #F2F2F2);*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    padding: 20px;
    color: #5A3B5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 100;
    text-align: center;
}

.notice strong {
    font-weight: 700;
}